<html>
<head>
</head>
<body>
Fill the form:
<form method="POST" action="/person">

   firstname: <input type="text" id="firstname" name="firstname" />
    <br/><br/>
    lastname: <input type="text" id="lastname" name="lastname" />
    <br/><br/>
    <input type="submit" value="submit"/>
</form>
</body>
</html>